[Desktop Entry]
Name=st
Comment=st is a simple terminal implementation for X
Exec=st
Icon=terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;
